body {
  background: #FFFFFF;
}

.App {
  margin: 10% 25%;
  /* border: solid teal 2px; */
}

h1 {
  color: #96E6B3;
  font-family: 'Barlow', sans-serif;
  font-size: 100px;
  /* border: solid blue 2px; */
  margin: 5px 0;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  /* border: solid pink 2px; */
  margin: 5px 3px;
}

.links {
  /* border: solid purple 2px; */
  display: flex;
  /* justify-content: flex-end; */
  margin: 10px 3px;
}

a {
  text-decoration: none;
  color: #797979;
  font-family: 'Roboto', sans-serif;
  margin: 0 15px 0 0;
}